html {
  height: 99%;
  overflow: hidden;
} 

body {
  height: 99%;
  overflow: auto;
}


body > header {
  background-color: #B7BED0;
  height: 78px;
  padding-top: 4px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

body > header img {
  float: left;
}

body > header em {
  position: absolute;
  top: 19px;
  right: 20px;
}

body > header .main-menu {
  position: absolute;
  bottom: 0px;
  left: 220px;
  min-width: 705px;
}

body > header .main-menu-item {
  margin-right: 30px;
  padding: 4px 7px;
  border: solid 1px grey;
  cursor: pointer;
  border-radius: 6px;
  color: #DAF398;
}

body > header .main-menu-item.selected {
  background-color: #e9f6c6;
  text-decoration: none;
  color: #0099ff;
}

body > header .main-menu-item:hover {
  border: solid 1px black;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #d4d0c8 !important;
    margin-right: 17px;
}

.main-content {
  margin-top: 88px; 
  padding-left: 45px;
}

.inline-demo {
  border: 1px solid black;
  border-radius: 3px;
  width: 375px;
  padding: 7px 15px;
}



/* 
  for intro page only, which is just the Readme, pull the top up and out of site so as not 
  to repeat information and links in the header
*/
body.docs-index .main-content {
  margin-top: -30px;
  
}



