html {
  height: 99%;
  overflow: hidden;
} 

body {
  height: 99%;
  overflow: auto;
}


body > header {
  background-color: #B7BED0;
  height: 78px;
  padding-top: 4px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

body > header img {
  float: left;
}

body > header em {
  position: absolute;
  top: 19px;
  right: 20px;
}

body > header .main-menu {
  position: absolute;
  bottom: -10px;
  left: 22%;
  min-width: 710px;
}

body > header .main-menu-item {
  padding: 5px;
  background-color: lightgrey;
  border-radius: 5px 5px 0 0;
  border: 1px solid lightgrey;
  float: none;
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
  color: grey;
}

body > header .github-link {
  position: absolute;
  top: 34px;
  right: 20px;
}

body > header .main-menu-item.selected {
  color: #555555;
  cursor: default;
  background-color: white;
  border: 1px solid white;
  text-decoration: none;
  
}

body > header .main-menu-item:hover {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-bottom-color: white;
  color: #0099ff;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #d4d0c8 !important;
    margin-right: 17px;
}

.main-content {
  margin-top: 88px; 
  padding-left: 45px;
}

.inline-demo {
  border: 1px solid black;
  border-radius: 3px;
  width: 375px;
  padding: 7px 15px;
}



/* 
  for intro page only, which is just the Readme, pull the top up and out of site so as not 
  to repeat information and links in the header
*/
body.docs-index .main-content {
  margin-top: -30px;
  
}



